{% extends 'base.html' %}

{% block meta_title -%}
{{ page.title }} | {{ super() }}
{%- endblock meta_title %}

{% block body_classes -%}{{ page.type }}{%- endblock body_classes %}
{% block page_title -%}{{ page.title }}{%- endblock page_title %}

{% block breadcrumbs_inner %}
  <li class="active">{% if page.slug == 'about' %}About the scores{% else %}{{ page.title }}{% endif %}</li>
{% endblock breadcrumbs_inner %}

{% block content -%}
{{ page.content }}
<div class="diagram">
    <img src="{{ SITEURL }}/static/images/score-diagram.png"/>
{%- endblock content %}
